In [1]:
import pandas as pd
data = pd.DataFrame({'01/01':[2,2,1,4],'01/02':[-5,0,-1,-3],'01/03':[1,4,0,-2],'01/04':[-3,1,2,3
]},index=['서울','대전','대구','부산'])

In [3]:
print(data.count()) # 데이터의 숫자
print(data.count(axis=1)) # 행별 데이터 개수

01/01    4
01/02    4
01/03    4
01/04    4
dtype: int64
서울    4
대전    4
대구    4
부산    4
dtype: int64

In [4]:
print(data.sum()) #합계 , 열합계, 행합계

01/01    9
01/02   -9
01/03    3
01/04    3
dtype: int64

In [6]:
print(data.count(axis=1))

서울    4
대전    4
대구    4
부산    4
dtype: int64

In [7]:
print(data.mean())

01/01    2.25
01/02   -2.25
01/03    0.75
01/04    0.75
dtype: float64

In [8]:
print(data.mean(axis=1))

서울   -1.25
대전    1.75
대구    0.50
부산    0.50
dtype: float64

In [9]:
print(data.max())
print()
print(data.max(axis=1))

01/01    4
01/02    0
01/03    4
01/04    3
dtype: int64

서울    2
대전    4
대구    2
부산    4
dtype: int64

In [10]:
print(data.min())
print()
print(data.min(axis=1))

01/01    1
01/02   -5
01/03   -2
01/04   -3
dtype: int64

서울   -5
대전    0
대구   -1
부산   -3
dtype: int64

In [11]:
print(data.median())
print()
print(data.median(axis=1))

01/01    2.0
01/02   -2.0
01/03    0.5
01/04    1.5
dtype: float64

서울   -1.0
대전    1.5
대구    0.5
부산    0.5
dtype: float64

In [12]:
print(data.var()) #분산
print(data.var(axis=1))

01/01    1.583333
01/02    4.916667
01/03    6.250000
01/04    6.916667
dtype: float64
서울    10.916667
대전     2.916667
대구     1.666667
부산    12.333333
dtype: float64

In [13]:
print(data.std()) #표준편차 
print(data.std(axis=1))

01/01    1.258306
01/02    2.217356
01/03    2.500000
01/04    2.629956
dtype: float64
서울    3.304038
대전    1.707825
대구    1.290994
부산    3.511885
dtype: float64

In [14]:
print(data.quantile()) #기본 값이 0.5로 백분위 50퍼의 값을 구해준다. print()
print(data.quantile(q=0.2)) # q=0.2로 백분위 20퍼의 값을 구해준다. print()
print(data.quantile(axis=1)) #행마다 백분위 50퍼의 값을 구해준다

01/01    2.0
01/02   -2.0
01/03    0.5
01/04    1.5
Name: 0.5, dtype: float64
01/01    1.6
01/02   -3.8
01/03   -0.8
01/04   -0.6
Name: 0.2, dtype: float64
서울   -1.0
대전    1.5
대구    0.5
부산    0.5
Name: 0.5, dtype: float64

In [15]:
print(data.iloc()[0].mean()) #0번째 행의 평균

-1.25

In [16]:
print(data['01/01'].std()) #1월 1일의 표준편차

1.2583057392117916